*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

body{
  background: url("./assets/bg/bg.jpg") center/cover no-repeat;
  height: 100vh;
}

.bgWhite{
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 200px;
  height: 170px;
  background-color: #fff;
  border-radius: 0 0 50px 0;
}

.bgWhite1{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 150px;
  height: 1092px;
  background-color: #fff;
}